@import "../variables.scss";

.links {
    align-self: center;
    margin: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
}

.links:hover {
    color: $primary-color;
}

@media only screen and (max-width: 600px) {
    .links {
        margin: 0.5em;
    }
}

@media only screen and (max-width: 992px) {
    .links {
        margin: 1em;
    }
}

