<div class="bkhome">
    <app-main-navigation></app-main-navigation>
    <div class="header-margin draw-box">
        <div class="draw-box">
            <h1 class="home-question">Looking for an Arkansas wedding photographer?</h1>
        </div>
        <div class="draw-box">
            <h2 class="statement">You're in the right place.</h2>
        </div>
        <div class="draw-box text-center">
            <div class="d-flex justify-content-center">
                <div>
                    <a href="mailto:davidmsphoto@gmail.com" target="_blank">
                        <img src="assets/whiteemail.png" style="width:60px;" alt="mail">
                    </a>
                </div>
                <div class="center-text-vertically">
                    <a class="link-color" href="mailto:davidmsphoto@gmail.com" target="_blank">davidmsphoto@gmail.com</a>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div>
                    <a href="https://www.facebook.com/davidmsphoto/" target="_blank">
                        <img src="assets/fbiconwhite.png" style="width:58px;" alt="facebook">
                    </a>
                </div>
                <div class="center-text-vertically">
                    <a class="link-color" href="https://www.facebook.com/davidmsphoto/" target="_blank">David Skinner Photography</a>
                </div>
            </div>
        </div>
        <!-- <div class="draw-box text-center">
            <button class="contact-button"> Contact Me</button>
        </div> -->
    </div>
</div>
<div style="background-color:#363636;">
    <div class="d-flex mini-bio-container">
        <div class="mini-bio-img">
            <img class="image-of-me draw-box" src="assets/_P7C8923-Editthicc.jpg">
        </div>
        <div class="mini-bio-width">
            <div class="d-flex">
                <h2>
                    Hey There! I'm David.
                    <span class="cute-wife">(yep! that's my cute wife)</span> 
                </h2>
              
            </div>

            <p class="paragraph-txt">
                I love capturing moments that will last a lifetime. Moments like that gentle tear rolling down your cheek as you say "I do",
                or those few, sweet, newly-married moments after the ceremony should be immortalized and cherished for a
                lifetime.
            </p>
            <p class="paragraph-txt">
                I have been a photographer for seven years now, and my favorite thing to capture is weddings. I have shot weddings all over
                Arkansas in barns to fancy, historic buildings. Most importantly though, I have had the truest privilege
                of seeing my images in the homes of some of the friends I have made along the way.
            </p>
            <!-- <div style="text-align: right;margin-top:10%;">
                <button class="more-about-button"> More About Me</button>
            </div> -->
        </div>
    </div>
</div>

<div style="background-color:#4b4b4b;">
    <div style="padding:5% 0 5% 0; margin:0 5%">
        <div class="d-flex">
            <img class="trypt draw-box" src="assets/Matt and Julia-3455-2thicc.jpg">
            <img class="trypt draw-box" src="assets/DeannaBridals-5thicc.jpg">
            <img class="trypt draw-box" src="assets/SCWedding-3886-2thicc.jpg">
        </div>
        <div style="margin:0 5%">
            <button [routerLink]="'/portfolio'" class="see-more-pictures">
                See More Pictures
            </button>
        </div>
    </div>
</div>