@import "../variables.scss";

.bkhome {
    background-image: url("../../assets/bkbackground.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.home-question{
    text-align:center;
    font-size:3em;
    font-weight: lighter;
}

.statement{
    margin:.5em 0 .5em 0;
    text-align: center;
    font-weight: normal;
    font-size: 2em;
}

.header-margin{
    margin:22vh 2em 1em 2em;
}

.more-about-button{
    background-color:$primary-color;
    border:0;
    color:black;
    padding: .6em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    font-weight: normal;
    cursor: pointer;
}

.see-more-pictures{
    background-color:$primary-color;
    border:0;
    color:black;
    padding: .6em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    font-weight: normal;
    cursor: pointer;
    width:100%;
    margin:5% 0 0 0 
}

.contact-button{
    background-color:$primary-color;
    border:0;
    color:black;
    padding: .6em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    font-weight: normal;
    cursor: pointer;
    margin:1.5em;
}

.paragraph-txt{
    font-family:'Open Sans','Helvetica Neue',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-weight:lighter;
    line-height: 2.2em;
    font-size:1.1em;
    margin-top:10%;
    text-align: justify;
}


.trypt{
    width:23.3%;
    margin: 0 5%;
    }

.image-of-me{
    width: 100%;
}

.mini-bio-container{
    padding:5% 0 5% 0;
    margin:0 10%;
}

.mini-bio-img{
    margin: 0 5% 0 0;
    width:33%;
}

.mini-bio-width{
    width:67%;
}

@media only screen and (max-width: 600px) {
    .header-margin{
        margin:11vh 2em 1em 2em;
    }

    .mini-bio-img{
       display:none;
    }

    .mini-bio-width{
        width: 100%;
    }

}

@media only screen and (max-width: 992px) {

}
