.home-question{
    text-align:center;
    font-size:4em;
    font-weight: lighter;
}

.statement{
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}


div.test div {
margin:1.2em 0 1.2em 0;
}

