<div class="footer-container">
    <div class="d-flex" style="justify-content: space-between">
        <div style="padding:0 5%">
            <a href="mailto:davidmsphoto@gmail.com" target="_blank">
                <img src="assets/whiteemail.png" style="width:67px;">
            </a>
            <a href="https://www.facebook.com/davidmsphoto/" target="_blank">
                <img src="assets/fbiconwhite.png" style="width:65px;">
            </a>
        </div>
        <div class="center-text-vertically" style="text-align: center">
            © David Skinner Photography | All Rights Reserved
        </div>
        <div class="center-text-vertically"  style="text-align:right;padding:0 5%;">
            written by Me :)
        </div>
    </div>

</div>