<div class="draw-box footer-container">
    <div class="draw-box d-flex" style="justify-content: space-between">
        <div style="margin-left: 5%;">
            <div class="draw-box d-flex">
                <a href="mailto:davidmsphoto@gmail.com" target="_blank">
                    <img src="assets/whiteemail.png" style="width:61px;">
                </a>
                <a href="https://www.facebook.com/davidmsphoto/" target="_blank">
                    <img src="assets/fbiconwhite.png" style="width:60px;">
                </a>
            </div>

        </div>
        <div class="draw-box center-text-vertically" style="text-align: center">
            © David Skinner Photography 2020 | All Rights Reserved
        </div>
        <div class="draw-box center-text-vertically" style="text-align:right;margin-right: 5%;">
            written by Me :)
        </div>
    </div>
</div>