.portfolio-margin{
    margin:2em 5em 0 5em;
}

.pimgs{
    height:25%;
    width:25%;
    margin:0 1% 0 1%;
}

.limgs{
    height:50%;
    width:50%;
    margin:0 1% 0 1%;
}

.limg-spacing{
    margin-top:2%
}

div.test > div{
    display:flex
}



@media only screen and (max-width: 700px) {
    div.test > div{
        display: block;
    }

    .limgs{
        width:100%
    }

    .pimgs{
        width:100%
    }

    .portfolio-margin{
        margin: 0
    }
    
    .limg-spacing{
        margin:0
    }
} 