<app-main-navigation>
</app-main-navigation>
<div class="image portfolio-margin draw-box wrapping">
    <div class="draw-box">
        <ng-container *ngFor="let x of port[0].portrait; index as i">
            <img class="pimgs draw-box" [src]="x">
        </ng-container>
    </div>
    <div class="limg-spacing draw-box">
        <ng-container *ngFor="let x of port[0].landscapeFirst; index as i">
            <img class="limgs draw-box" [src]="x">
        </ng-container>
    </div>
    <div class="limg-spacing draw-box">
        <ng-container *ngFor="let x of port[0].landscapeSecond; index as i">
            <img class="limgs draw-box" [src]="x">
        </ng-container>
    </div>
</div>
<div style="margin:5% 0">
    <div style="margin:2% 0">
        <h2 class="draw-box text-center">
            Let's talk about your wedding!
        </h2>
    </div>
    <div class="draw-box text-center">
        <div class="d-flex justify-content-center">
            <div>
                <a href="mailto:davidmsphoto@gmail.com" target="_blank">
                    <img src="assets/whiteemail.png" style="width:60px;" alt="mail">
                </a>
            </div>
            <div class="center-text-vertically">
                <a class="link-color" href="mailto:davidmsphoto@gmail.com" target="_blank">davidmsphoto@gmail.com</a>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div>
                <a href="https://www.facebook.com/davidmsphoto/" target="_blank">
                    <img src="assets/fbiconwhite.png" style="width:58px;" alt="facebook">
                </a>
            </div>
            <div class="center-text-vertically">
                <a class="link-color" href="https://www.facebook.com/davidmsphoto/" target="_blank">David Skinner Photography</a>
            </div>
        </div>
    </div>

</div>