<div class="image  portfolio-margin draw-box wrapping">
    <div class="draw-box">
        <img class="pimgs draw-box" src="assets/portthicc.jpg">
        <img class="pimgs draw-box" src="assets/portthicc.jpg">
        <img class="pimgs draw-box" src="assets/portthicc.jpg">
        <img class="pimgs draw-box" src="assets/portthicc.jpg">
    </div>
      
    <div class="limg-spacing draw-box">
        <img class="limgs draw-box" src="assets/landthicc.jpg">
        <img class="limgs draw-box" src="assets/landthicc.jpg">
    </div>
    <div class="limg-spacing draw-box">
        <img class="limgs draw-box" src="assets/landthicc.jpg">
        <img class="limgs draw-box" src="assets/landthicc.jpg">
    </div>
</div>