<div class="portfolio-margin draw-box">
    <div class="draw-box d-flex">
            <div class="draw-box">
                    hai
                </div>
                <div class="draw-box">
                    hai
                </div>
                <div class="draw-box">
                    hai
                </div>
                <div class="draw-box">
                    hai
                </div>
    </div>
    <div class="draw-box d-flex">
        <div class="draw-box">
            landscape
        </div>
        <div class="draw-box">
            landscape
        </div>
    </div>
    
</div>